.settings-maptiks {
	margin-top: 10px;
}

.settings-maptiks {
	vertical-align: middle;
	height: 45px;
	font-weight: bold;
	padding-right: 25px;
}

.settings-maptiks hr{
    margin: 10px 0;
}

.settings-maptiks h3{
    margin-bottom:10px;
}
